*{
	//border-style: solid;
	font-family: "Teko", sans-serif;
}

body{
	background-color: #ffffff;
	margin: 0px;
}

html, body{
	height: 100%;
}

.topbar{
	color: white;
	list-style-type: none;
	background-color: black;
	padding: 5px;
	position: fixed;
	width: 100%;
}
.topbar ul{
	margin: 0;
	padding: 0;
}
.topbar li{
	font-size: 20px;
	display: inline;
	padding: 8px;
	border-right: 1px solid gray;
	float: left;
}
.topbar li:hover{
	background-color: gray;
}

.topbar a{
	text-decoration: none;
	color: white;
}

.title{
	height: 100%;
	background-image: url("http://i.imgur.com/AZUVDI9.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.title{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titletext{
	max-height: 50%;
	margin: auto 0px;
 	font-size: 24px;
	color: white;
	text-align:center;
}

.titletext h1{
	font-family: "Poppins", sans-serif;
	text-shadow: 1px 2px black;
}

.about{
	padding-top: 45px;
	background-repeat: no-repeat;
	background-image: url("assets/imgs/aboutpic.png");
	background-position: center;
	background-size: contain;
	height: 100%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

.abouttext{
	padding-top: 25px;
	max-width: 50%;
	margin: 0 auto;
}

.abouttext h1{
	margin: 0;
	font-size: 48px;
}

.abouttext p{
	font-size: 20px;
}
